header {
  background-color: #362C47;
  color:white;
  margin-top: 0px;
  height: 75px;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 2%;
  grid-area: header;
}

.nav-button {
  text-decoration: none;
}
.nav-button > div:hover {
  background-color: #A99AC1;
}
.nav-button > div {
  background-color: #574672;
  border: 1px solid #CCCCCC;
  height: 70px;
  width: 220px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: .5%;
  color:white;
  margin-bottom:2%;
}
.App {
  display: grid;
  grid-template-areas:
    'header header header header'
    'nav viewport viewport viewport'
    'footer footer footer footer';
  gap: 10px;
}
.navigation {
  grid-area: nav;
}
.viewport {
  grid-area: viewport;
}
.text-field > input {
  display: block;
}
.edit-plot-name {
  float:left;
  margin-right: 24px;
}
.edit-plot-locations {
  float:left;
  margin-right: 24px;
}
.die-btn {
  background-color: #fff;
  border: none;
}