/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

header {
  background-color: #362C47;
  color:white;
  margin-top: 0px;
  height: 75px;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 2%;
}

.nav-button {
  text-decoration: none;
}
.nav-button > div:hover {
  background-color: #A99AC1;
}
.nav-button > div {
  background-color: #574672;
  height: 70px;
  width: 220px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: .5%;
  color:white;
  margin-bottom:2%;
}